@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nanum Square";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NanumSquareR.ttf") format("truetype");
}

.grey-underbar {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #aeafae;
}
